*{
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    
}

body{
    position: relative;
    height: 330vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
    
}

body::before{
    padding-left: 100px;
    content: '';
    position: absolute;
    top: -3vh;
    left: 0;
    width: 100%;
    height: 43%;
    background-color: #141f39;

}

body::after{
    padding-left: 100px;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: #ffffff; 
}




ul{
    
    position: absolute;
    display: flex;
    flex-direction: row ;
    flex: wrap;
    margin-left: 32vw;
    margin-top: 2vh;
    list-style: none;
    color: white;

}

li{
    cursor: pointer;
    margin: 1.4vw;

}

li img{
    position: absolute;
    right: 46vw;
    top: 1.7vh;

}

li button{
    position: absolute;
    bottom: 1vh;
    margin-left: 2vw;
    width: 160px;
    height: 50px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #38DA71;
    border: #38DA71 solid 2px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    
}

li button:hover{
    cursor: pointer;
    background-color: transparent;
}

main h1{
    position: absolute;
    top: 20vh;
    font-size: 4rem;
    color: white;
    font-weight: 600;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 2;

}

.rec1{
    position: absolute;
    top: 21vh;
    left: 32.7vw;
    z-index: 1;
    height: 200px;

}

main h3{
    position: absolute;
    top: 40vh;
    color: #c5c5c5;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;

}

.buttons{
    position: absolute;
    top: 53vh;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    width: 100%;
    
    
}

.button1{
    width: 180px;
    height: 50px;
    margin: 12px;
    border-radius: 10px;
    background-color: #38DA71;
    border: #38DA71 solid 2px;
    font-size: 1rem;
    color: white;
    transition: 0.5s;
}

.button1:hover{
    background-color: transparent;
    cursor: pointer;
}

/* .button2{
    width: 170px;
    height: 50px;
    margin: 12px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #c5c5c5;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
} */

.button2 {
    width: 180px;
    height: 50px;
    margin: 12px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #c5c5c5;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
    
}  

.button2 span{
    transition: 0.3s ease-in-out;;
}

.button2:hover span{
    transform: translateX(20px);
}

.button2:hover {
    background: transparent;
}

.button2 i {
    width: 14px;
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.button2:hover i {
    transform: translateX(55px);
}




.conditions{
    position: absolute;
    top: 65vh;
    display: flex;
    flex-flow: row ;
    width: 100%;
    justify-content: center;

}

p{
    margin: 0px 15px ;
    color: #c5c5c5;

}

.fa-check{
    color: #38DA71;
    position: relative;
    right: 0.2vw;

}

.image{
    position: absolute;
    top: 72vh;
    display: flex;
    justify-content: center;
    width: 100%;

}

.image img{
    margin: 18px;

}

.imgtext{
    position: absolute ;
    top: 115vh;
    left: 15vw;
    display: flex;
    flex-flow: row;
    
}

.imgtext p{
    margin: 0px 80px;

}

.imgtext2{
    position: relative;
    right: 27px;

}

.imgtext3{
    position: relative;
    
}

.imgtext1 i{
    position: relative;
    left: 95px;
    color: #38DA71;

}

.imgtext2 i{
    position: relative;
    left: 145px;
    color: #38DA71;

}

.imgtext3 i{
    position: relative;
    left: 140px;
    color: #38DA71;

}

.midlane{
    position: absolute;
    top: 131vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    left: -26vw;
    scale: 0.7;
    padding: 0px 500px 0px 500px;
    background-color: #15BEE3;
    cursor: text;
    
    
}



.main2 h1{
    position: absolute;
    top: 150vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 600;
    z-index: 1;

}

.main2 h3{
    position: absolute;
    top: 160vh;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    z-index: 1;
    color: grey;

}

.cards{
    display: flex;
    flex-flow: row;
    position: absolute;
    flex-wrap: nowrap;
    top: 170vh;
    z-index: 1;
    width: 100%;
    justify-content: center;

}

.card1{
    background-color: rgb(255, 255, 255);
    width: 16vw;
    height: 28vh;
    margin: 20px;
    padding-left: 40px;
    border: none;
    transition: 0.2s;
    cursor: pointer;

}

.card1:hover{
    border-bottom:#FF928A solid 7px;#9BFFBE
}

.card2{
    background-color: rgb(255, 255, 255);
    width: 16vw;
    height: 28vh;
    margin: 20px;
    padding-left: 40px;
    border: none;
    transition: 0.2s;
    cursor: pointer;

}

.card2:hover{
    border-bottom:#15BEE3 solid 7px;
}

.card3{
    background-color: rgb(255, 255, 255);
    width: 16vw;
    height: 28vh;
    margin: 20px;
    padding-left: 40px;
    border: none;
    transition: 0.2s;
    cursor: pointer;

}

.card3:hover{
    border-bottom:#9BFFBE solid 7px;
}

.cards img{
    position: absolute;
    top: 7vh;
    
}

.cards h2{
    position: absolute;
    top: 13vh;
    font-size: 1.3rem;
    font-weight: 800;
    
}

.cards h3{
    position: absolute;
    top: 16vh;
    font-size: 1rem;
    font-weight: 400;
    color: grey;

}

h4{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    top: 33vh;
    font-weight: 500;
    color: grey;

}

.main3 h1{
    position: absolute;
    font-size: 3rem;
    top: 230vh;
    left: 21vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

}

.main3 h3{
    position: absolute;
    font-size: 1rem;
    top: 247vh;
    left: 21vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    font-weight: 500;
    color: grey;
}

.hr{
    width: 25%;
    height: 1.3px;
    background-color: rgb(161, 161, 161);
    position: absolute;
    top: 260vh;
    left: 21vw;
    z-index: 1;
}

.main3 h2{
    position: absolute;
    font-size: 2rem;
    top: 265vh;
    left: 21vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;

}

.main3 h4{
    position: absolute;
    font-size: 1rem;
    top: 271vh;
    left: -17.5vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    font-weight: 400;

}

.main3 .img1{
    position: absolute;
    top: 265vh;
    left: 20vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;

}

.main3 .h2{
    position: absolute;
    font-size: 2rem;
    top: 280vh;
    left: 21vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;

}

.main3 .h4{
    position: absolute;
    font-size: 1rem;
    top: 286vh;
    left: -18.8vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    font-weight: 400;

}

.main3 .img2{
    position: absolute;
    width: 4.5vw;
    top: 281vh;
    left: 20vw;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    opacity: 0.4;

}

.circle{
    position: absolute;
    top: 245vh;
    left: 55vw;
    width: 25vw;
    height: 25vw;
    background-color: #E3FAFF;
    border-radius: 50%;
    z-index: 1;
}

.main3 .bank1{
    position: absolute;
    top: 245vh;
    left: 53vw;
    z-index: 1;
    width: 22vw;
}

.main3 .bank2{
    position: absolute;
    top: 260vh;
    left: 59vw;
    z-index: 1;
    width: 22vw;
}